*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
select{
 border: 0;
 outline: 0;
 font-weight: bold;
}
body{
  width: 100%;
  height: 100vh;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ccc;
  font: bold 14px Arial, sans-serif;
}
 section{
  width: 300px;
  border: 1px solid #aaa;
  background: #fff;
  padding: 20px;
 }
 section > *{
  margin: 10px 0;
 }
 table{
  width: 100%;
 }
  span{
    color: #bbb;
    font: bold 10px Arial, sans-serif;
  }
  .msg-error{
    color: red;
    font: bold 10px Arial, sans-serif;
  }
  .border-error{
    border-bottom: 2px solid red;
  }
  .time{
    width: 116px;
  }
  .btn-update-frame{
    float: right;
    width: 50px;
    height: 50px;
  }
  a{
    text-decoration: none;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    color: green;
  }
  a svg{
    width: 100%;
    height: 100%;
  }
  .btn-update-frame:hover circle{
    fill: rgba(0,255,0,.5);
  }
 


